<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <h3 class="col-lg-offset-5 col-xs-offset-3 col-md-offset-4">Edit user profile</h3>
            <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <input type="text" id="user-location" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
            </div>
            <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <input type="text" id="user-description" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
            </div>
            <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <input type="text" id="user-gender" class="form-control" placeholder="Gender" aria-describedby="basic-addon1">
            </div>
            <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <input type="text" id="user-birthday" class="form-control" placeholder="Birth date DD/MM/YYYY" aria-describedby="basic-addon1">
            </div>
            <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <input type="text" id="user-profile-picture" class="form-control" placeholder="Profile picture URL" aria-describedby="basic-addon1">
            </div>
        </div>
        <button type="button" id="edit-user-btn" class="btn btn-primary active">Edit profile</button>
    </div>
</div>