<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2><b>404 Not Found</b></h2>
                <div class="error-details">
                    <h3>Sorry, an error has occured, Requested page not found!</h3>
                </div>
                <div>
                <img src="imgs/logo.PNG" class="img-rounded" alt="404" width="150" height="100">
                </div>
            </div>
        </div>
    </div>
</div>