<div class="form-group">
  <label for="type-selection">Select item type:</label>
  <select class="form-control" id="type-selection">
    <option>Hotel</option>
    <option>Restaurant</option>
    <option>Sightseeing</option>
  </select>
</div>

<div class="input-group">
    <input type="text" id="item-name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-description"  class="form-control" placeholder="Description" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-phone"  class="form-control" placeholder="Phone" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-address"  class="form-control" placeholder="Address" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-email"  class="form-control" placeholder="Email" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-main-image"  class="form-control" placeholder="Main image URL" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-second-image"  class="form-control" placeholder="Other image URL" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-third-image"  class="form-control" placeholder="Other image URL" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-fourth-image"  class="form-control" placeholder="Other image URL" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="item-fifth-image"  class="form-control" placeholder="Other image URL" aria-describedby="basic-addon1">
</div>

<button type="button" id="add-item-btn" class="btn btn-primary active">Add</button>