<div class="input-group">
    <input type="text" id="user-location" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="user-description" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="user-gender"  class="form-control" placeholder="Gender" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="user-birthday"  class="form-control" placeholder="Birth date DD/MM/YYYY" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <input type="text" id="user-profile-picture"  class="form-control" placeholder="Profile picture URL" aria-describedby="basic-addon1">
</div>

<button type="button" id="edit-user-btn" class="btn btn-primary active">Edit profile</button>
