<div class="row">
{{#each sightseeing}}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            {{!--{{{img image}}}--}}
            <h3>{{name}}</h3>
            <p> {{description}}</p>
            <p><a href="#" class="btn btn-primary" role="button">View details</a> <a href="#" class="btn btn-default" role="button">Make a Reservation</a></p>
        </div>
    </div>
</div>
{{/each}}
</div>

<div class="row text-center">
    <ul class="pagination">
    {{#each pages}}
        <li>{{{sightseeingPage this}}}</li>
    {{/each}}
    </ul>
</div>