<div class="mainbody container-fluid">
    <div class="row">
        <!--<div style="padding-top:50px;"> </div>-->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>{{username}}</strong></h3>
                            <p>
                                <div contenteditable="true">
                                    This text can be edited by the user.
                                </div>
                            </p>
                            <hr>
                            <h3><strong>Location</strong></h3>
                            <p>
                                <div contenteditable="true">
                                    This text can be edited by the user.
                                </div>
                            </p>
                            <hr>
                            <h3><strong>Gender</strong></h3>
                            <p>
                                <div contenteditable="true">
                                    This text can be edited by the user.
                                </div>
                            </p>
                            <hr>
                            <h3><strong>Birthday</strong></h3>
                            <p>
                                <div contenteditable="true">
                                    This text can be edited by the user.
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{username}} <small>{{emailAddress}}</small> </h1>
                </span>
                    <br><br>
                    <hr>
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos </a>

                    </span>
                </div>
            </div>
            <hr>
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="50px" height="50px"
                                style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>{{username}}</strong><a href="#" style="text-decoration:none; color:grey;">  </a></small>
                        </small>
                    </h4>
                    <hr>
                    <div class="post-content">
                        <p>Simple post content example.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices
                            sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>